.menu {
    display: flex;

    justify-content: space-between;
    width: 36%;
    margin-top: 10px;

    box-shadow: 1px 1px 0.5px rgba(0, 0, 0, 0.196);
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

.botoes-navegacao {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.botao-navegacao {
    padding: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 0.5px rgba(0, 0, 0, 0.196);
    border: 1px solid white;
    cursor: pointer;
}

.botao-navegacao:hover {
    background-color: aliceblue;
}

.botao-sair {
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.botao-sair:hover {
    background-color: rgb(29, 27, 27);
}