.pagina-cadastro-ponto {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 20px;
}

.formulario-cadastro-ponto {
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 50px;
  width: 30%;
  border: 1px solid black;
  box-shadow: 1px 1px 0.5px rgba(0, 0, 0, 0.196);
  background-color: white;
}


.campo-cadastro-ponto {
  display: flex;
  flex-direction: column;
}

.materiais-aceitos {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.endereco {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.secao-endereco {
  display: flex;
  flex-direction: column;
}

.tamanho-input {
  width: 90%;
  height: 25px;
}

.secao-botao {
  display: flex;
  justify-content: end;
}

.botao-cadastro-ponto {
  padding: 5px;
  background-color: rgb(73, 71, 194);
  color: white;
}

.paragrafo-cadastro-coleta {
  margin-top: -20px;
}