.pagina-dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 10px;
}

.mapa {
    width: 35%;
    height: 250px;
    margin-top: -10px;
}

.subtitulo-mapa {
    font-size: 100%;
    width: 35%;
}

.cards-dashboard {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;

    width: 35%;
    list-style-type: none;
    margin-left: -35px;
    font-weight: bold;
}