.pagina-places {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 10px;
  background-color: rgb(255, 255, 255);
  height: 100vh;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);


  width: 50%;

  gap: 10px;
 
  list-style-type: none;

}

.cabecalho-places {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 47%;
}

.btn-criar-ponto {
  height: 80%;
  padding: 10px;
  border-radius: 2px;
  background-color: rgb(173, 145, 182);
  color: white;
  cursor: pointer;
}

.btn-criar-ponto:hover {
  background-color: rgb(178, 171, 203);
}