.card-ponto {
    border: 1px solid black;
    padding: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.355);
}

.nome-ponto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 95%;
    margin-top: -2px;
}

.endereco-ponto {
    font-size: 70%;
}

.residuos-ponto {
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: 70%;
    list-style-type: none;
    margin-left: -40px;
}